<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Material</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList$ | async" [ngClass]="{'free': product.price == 0}">
            <td>
                <img [src]="product.image" [alt]="product.name" class="img-small" width="100">
            </td>
            <td>{{product.name}}</td>
            <td>{{product.material}} </td>
            <td>
                <span *ngIf="product.price == 0; else showPrice">GRATIS</span>
                <ng-template #showPrice>
                    <span>{{product.price | currency}}</span>
                </ng-template>
            </td>
            <td>
                <span class="badge badge-warning" *ngIf="product.stock == 0; else showStock">SIN STOCK</span>
                <ng-template #showStock>
                    <span>{{product.stock}}</span>
                </ng-template>
            </td>
            <td>
                <div *ngIf="product.stock">
                    <app-input-number [(quantity)]="product.quantity" [max]="product.stock"></app-input-number>
                    <button type="button" class="btn" (click)="addToCart(product)">Comprar</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>