<table class="table text-center">
    <thead>
        <th scope="col">Imagen</th>
        <th scope="col">Producto</th>
        <th scope="col">Material</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Compra</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'free': product.price == 0}">
            <td>
                <img [src]="product.image" [alt]="product.name" class="img-small" width="100">
            </td>
            <td>{{product.name}}</td>
            <td>{{product.material}} </td>
            <td>
                <span *ngIf="product.price == 0; else showPrice"> GRATIS</span>
                <ng-template #showPrice>
                    <span>{{product.price | currency}}</span>
                </ng-template>
            </td>
            <td>{{product.stock}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-xs" (click)="downQuantity(product)">-</button>
                <input class="smallInput" type="number" [(ngModel)]="product.quantity" (keyup)="changeQuantity($event, product)" />
                <button type="button" class="btn btn-primary btn-xs" (click)="upQuantity(product)">+</button>
            </td>
        </tr>
    </tbody>
</table>