<div class="col-8">
    <table class="table">
        <thead>
            <th><img [src]="product.image" [alt]="product.name" class="rounded mx-auto d-block" height="200px" width="300px"></th>
        </thead>
        <tbody>
            <tr>
                <td>Producto</td>
                <td>{{product.name}} </td>
            </tr>
            <tr>
                <td>Material</td>
                <td>{{product.material}}</td>
            </tr>
            <tr>
                <td>Precio</td>
                <td>{{product.price}}</td>
            </tr>
            <tr>
                <td>Stock</td>
                <td>{{product.stock}}</td>
            </tr>
        </tbody>
    </table>



</div>