<div class="text-center">
    <h1>¿Que es myKiosko.com?</h1>
    <div class="box">
        <div class="description">
            <p>Es un sitio de venta de productos elaborados con materiales reciclados o con poco impacto ambiental, se trabaja con una perspectiva ecologica y se reparten gratuitamente productos reutilizables para fomentar el desarrollo de la conciencia
                ambiental.
            </p>
        </div>
    </div>

    <figure>
        <img src="../../assets/img/reciclaje.png" alt="">
    </figure>

</div>
